body {
    font-size: 16px;
    background-color: rgb(212, 215, 218);
    font-family: 'Roboto', sans-serif;
}
/**HEADER**/
.navbar-brand {
    border-radius: 0;
    border: 0;
}

.container-fluid {
    background-color: darkgoldenrod;
    padding: 0px 15px;
}
div .container {
    background-color: rgb(247, 241, 241);
    min-height: 1000px;
    padding: 10px 15px; 
    margin: 0px auto;
    width: 100%;
}

.navbar-header a:hover, .navbar-header a:focus {
    text-decoration: none;
}
#logo-img {
    font-size: 2.2em;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #222;
}
.navbar-header .pull-left {
    margin-left: 15px;
}


#nav-list a{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

#nav-list a:hover {
    background: #e7e7e7;
}

h1 .title {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
  }

 div .collapsable-nav {
      background-color: rgb(14, 160, 160);
  }

.menu-title{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row, .col-xs-12{
    padding: 15px;
    margin: 0 auto;
}

/********** Small devices only **********/
@media (max-width: 768px) {
    /* Home Page */
    div.col-xs-12 {
        max-width: 500px;
        float: none;
    }

    .section div div .container-fluid{
        margin: 0 auto;
    }

    li a {
        background-color: rgb(247, 241, 241);
        border-bottom: 1px solid black;
    }
    
    /* End Home Page */

    nav #header-nav {
        height: 500px;
    }
  }
  






  