body {
    font-size: 16px;
    background-color: rgb(212, 215, 218);
    font-family: 'Roboto', sans-serif;
}
/**HEADER**/
.navbar-brand {
    border-radius: 0;
    border: 0;
}

header nav div.container-fluid {
    background-color: darkgoldenrod;
    padding: 15px 15px;
}


.navbar-header a:hover, .navbar-header a:focus {
    text-decoration: none;
}
#logo-img {
    font-size: 2.2em;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #222;
}
.navbar-header .pull-left {
    margin-left: 15px;
}


#nav-list a{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

#nav-list a:hover {
    background: #e7e7e7;
}

h1 .title {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
  }

div.category-title{
    padding-top: 20px;
    padding-bottom: 20px;
}

div.collapsable-nav {
      background-color: rgb(14, 160, 160);
  }

  /**Main Content**/

#menu-title{
      margin-top: 0px;
      margin-bottom: 15px;
  }

#main-content{
    min-height: 1000px;
    width: 100%;
}


.row{
    padding-left: 10px;
    padding-right: 10px;
}
.col-lg-4{
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.category-title  {
    font-size: 1.2em;
    font-weight: bold;
}

.inside-container {
    background-color: cornsilk;
    padding-right: 15px;
    padding-left: 15px;
    height: 1000px;
}




/********** Small devices only **********/
@media (max-width: 768px) {
    /* Home Page */
    .col-xs-12 {
        max-width: 500px;
    }

    li a {
        background-color: rgb(247, 241, 241);
        border-bottom: 1px solid black;
    }
    
    /* End Home Page */

    nav #header-nav {
        height: 500px;
    }
  }
  






  